body{
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
}

.container{
	width: 85%;
	margin: auto;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
} 



/* Header Area CSS */
.header-area{
	background-color: #3B5998; 
	padding: 15px 0;
}
.header-left{
	width: 25%;
	float: left;
}
.header-left img{
	margin-top: 10px;
}
.header-right{
	width: 75%;
	overflow: hidden;
}
.user-area label,
.password-area label{
	display: block;
	font-size: 12px;
	color: #FFF;
	font-weight: 400;
}
.header-right a{
	color:  #9cb4d8;
	font-size: 12px;
	font-weight: 400;
}

.header-right input{
	display: block;
	margin: 4px 0 1px 0;
}

.user-area {
	float: left;
	margin-right: 15px;
}
.password-area{
	overflow: hidden;
	float: left;
	margin-right: 15px;
}
.login-area {
	overflow: hidden;
}

.header-right form{
	float: right;
}
.login-area input{
	font-family: Helvetica, Arial, sans-serif;
	margin-top: 18px;
	font-size: 12px;
	color: #FFF;
	font-weight: 400;
	background-color: #4267B2;
	padding: 5px;
	border: 1px solid #29487D;
	border-radius: 3px;
}
.login-area input:hover{
	background-color: #365899;
}




/* Main Area CSS */
.main-area {
	background: linear-gradient( #FFF , #D3D8E8);
}
.main-area-left{
	width: 50%;
	margin-right: 10%;
	float: left;
	padding: 20px 0;
}
.main-area-left h2{
	font-size: 20px;
	font-weight: 700;
	line-height: 29px;
	color: #0e385f;
}
.main-area-right{
	width: 40%;
	overflow: hidden;
	padding: 20px 0;
}
.main-area-right h2{
	font-size: 36px;
	font-weight: 700;
	line-height: 48px;
	color: #333333;
	margin: 0;
}
.main-area-right h3{
	font-size: 19px;
	font-weight: 400;
	line-height: 25px;
	color: #1d2129;
	margin-top: 0;
}


.main-area-right input[type="text"], 
.main-area-right input[type="password"]{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 18px; 
	font-weight: 400;
	color: #000;
	padding: 10px 15px; 
	border: 1px solid #BDC7D8;
	border-radius: 4px;
	display: block;
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 10px;
}
.main-area-right input[type="text"]:first-child{
	width: 48%;
	float: left;
	margin-right: 4%;
}
.main-area-right input[type="text"]:nth-child(2){
	width: 48%;
	overflow: hidden;
}






























